.banner-grafico{
    background-image: url(../imagenes/bannergrafic.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 100px;
}
.accordion{
   padding: 100px;
   width: 100%;
   .accordion-item{
    background-color: orange;

   }
}
.accordion-button{
    background-color: orange;
    color: white;
    font-family: sans-serif;
    font-size: small;

}
.card{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.icon1{
    width: 50px;
}