footer{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}
.icon{
    width: 20px;
}
.redes{
    display: flex;
    padding: 1rem;
    width: 100%;
    align-items: center;
}