*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}

a,p{
    @include textos-pequeños;
    a:hover{
    border-radius: 50%;
    color: orange;
    transition: 0.5s;
  }
}
h1, h2, h3{
    @include titulos;
}


img{
    width: 100%;
}
.navbar-toggler{
    border: none;

    .navbar-toggler:focus{
    box-shadow: none;
}
}
