.herramientas{
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    font-family: Arial, Helvetica, sans-serif;

}
.icon2{
     display: flex;
     width: 80px;
     padding: 1rem;
     margin: 37%;
}

.sitio-web{
   text-align: center;
   padding: 0 90px;
}



.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.trabajos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




